<% title 'Data protection provisions' %>

<p class="version">
	Version <strong>2.0</strong> / as of 01/01/2018
</p>
<p>
	German Version: <%= link_to 'Datenschutzbestimmungen', datenschutz_path  %>
</p>
<p>
(Pursuant to sections 5, 13 of the German Telemedia Law, TMG, and sections 28, 30 of the German Law on Data Protection, BDSG)
</p>
<p>
We collect and use your personal data exclusively within the constraints imposed by legislation relating to data protection. In the pages which follow we provide you with information on the nature, extent and purposes of the collection and use of personal data. You can access this information at any time on our web-site and save it on your computer and/or print it out.
</p>
<p>
Data file controller
</p>
<address>
	<strong>EACG GmbH</strong><br/>
	Taunustor 1<br/>
	D-60310 Frankfurt am Main<br/>
</address>
<br/>
Legally represented by the General Managers, Jan Thielscher and Dr. Stefan Pokorny<br/>
<br/>
<address>
<b>E-Mail:</b> ecs-support(at)eacg.de<br/>
<b>Handelregister Nummer:</b> HRB 84852<br/>
<b>Registergericht:</b> Frankfurt am Main<br/>
</address>

<p>
Further information is available in our Legal Notices section.
</p>

<h5>0. Definitions</h5>
<p>
<li><b>EACG</b> - means EACG GmbH the owner and operator of the ECS solution</li>
<li><b>ECS</b> - stands for "EACG Code Scanner" and indicates the SaaS-Lösung, which accepts the scan results, analyses and generates reports as well as supports the management process of the Open Source Risk Management.</li>
<li><b>ECS Scanner</li> - means the component responsible to transfer the list of identified open source components, to ECS. These are mostly open source by themselves.</li>
<li><b>VersionEye</b> - is the brandname of VersionEye GmbH, which orginally created the VersionEye solution now being operated by EACG.
<li><b>Account</b> - Company specific, potentially associated with fees, access to ECS resp. VersionEye, that can be used by one or more legitimate persons to access ECS or VersionEye operated by EACG.
</p>
<h5>I. General</h5>
<p>
EACG agrees to comply with the existing and applicable legislation of the German and European law on data protection in the design of the platform and the service offer. We are committed to the right to informational self-determination and data protection at the highest possible level as well as to the protection of technical and/or commercial trade secrets. Our protective measures are constantly subject to review and improvement in light of ongoing technological developments in order to protect your personal data processed by ECS against any accidental or intentional manipulation, loss, destruction or access by unauthorized persons (see sections 9, 11 of the German Law on Data Protection, Bundesdatenschutzgesetz - BDSG). We also commit our employees and cooperation partners as well as any other aides to respect the values of secrecy and data protection.
</p>
<h5>II. What is VersionEye, and who is responsible for VersionEye?</h5>
<p>
VersionEye is a software-as-a-service platform aimed to support the management of opne source components. The trademark VersionEye is protected under copyright and trademark law. Responsibility in accordance with data protection laws and service provider in accordance with the German Telemedia Law (TMG) lies with EACG GmbH, Taunustor 1, D-60310 Frankfurt am Main, Telefon +49 69 153 22 77 50, Email ecs-support@eacg.de. EACG also is the processor of data for the VersionEye platform hosted at https://www.ve.eacg.de/ respectively https://api.ve.eacg.de/.</p>

<h5>III. Which personal data of our customers do we collect and use?</h5>
<p>
We collect and use customer data for fulfilling contracts and processing payments, as well as data for mandatory inspections upon purchase on account and other transactions subject to VAT.
</p>
<h5>IV. Which information is compiled, processed, stored and/or transferred, and how?</h5>
<p>
The information you provide with the order and for managing your account will be stored and processed by us. In particular, this includes the information you enter on our website (for instance upon registration with the platform VersionEye, or upon the purchase of a particular license). These are data which are required for the conclusion, content-related design or modification of your contract (inventory data). We will use these data only to fulfil our contract with you. They will be used only for communicating with you and the purpose for which you have provided the data.
In addition you respectively the Scanners you will employ will transfer structural information about your source code composition. This information will be stared into your account and will be visible with access rights to this account only. Each component information transferred can be marked as "public" or "private". The components marked as "public" will reviewed by our analysis services and monitored for known vulnerabilities accordingly. However, all this kind of data will only be accessible and visible to members of your account.
</p>

<h5>V. How will license information be collected, and what happens with it?</h5>
<p>
You may use your individual license data persuant to our General terms and Conditions. In Addition to this the data transferred by your Scanners can be injected into a data pool with other data, be stored, processed and transferred. This will be done only in anonymized form pursuant to section 30 of the German Law on Data Protection, BDSG. EACG will hold the exclusive copyright and right of use concerning the structure data transferred to VersionEye in that way and combined in a pool. The data will be transferred exclusively for business purposes of VersionEye, ECS and EACG, as well as for research purposes. Anonymization prevents any tracing and/or personal association of your personal data.
</p>
<h5>VI. How safe is it to communicate with us?</h5>
<p>
In order to protect your data, data stored by us can be accessed only via an encrypted connection; in addition, a firewall guarantees the highest possible level of protection for your data. Registration via our website, as well as the use of the VersionEye platform hosted by us, is made exclusively in encrypted form via a SSL/ TSL (Secure Sockets Layer/ Transport Layer Security) connection.</p>

<h5>VII. Which data will be stored, either in the long term or temporarily, when you visit our website or access us from the internet?</h5>
<p>
Upon each user access to our webpages, data on this process will be temporarily stored and processed in a log file. The following data will be compiled and stored until they are automatically deleted:
<li>IP address of the retrieving computer;</li>
<li>Date and time of access;</li>
<li>Name and URL of the page retrieved;</li>
<li>Notice on whether the retrieval was successful;</li>
<li>Identification data of the browser and operating system used;</li>
<li>Website from which access was made;</li>
<li>Name of your internet access provider.</li>
The storage of data takes place due to a specific purpose. The processing of data is carried out for the purpose of enabling use of the website (establishing a connection) and, in addition to this, serves the security of the system, the technical administration of the network infrastructure as well as the optimization of the online services. The data will be evaluated for statistical purposes only, used to improve our services and then subsequently deleted. Information on the address can, as a general rule, be analysed only upon attacks of the network infrastructure of ECS, VersionEye or EACG.
Except in the cases stated in the Declaration on Data Protection, personal data will not be processed unless you explicitly consent to more extensive or further processing.
</p>
<h5>VIII. In which cases must or may we transfer your data to third parties?</h5>
<p>
Where necessary, the data and information stored by us may be used and disclosed to third parties pursuant to the applicable law upon a court order, a legally valid request by an investigative authority or for evidentiary purposes (for instance, upon breach of our General Terms and Conditions).
</p>
<h5>IX. Where can I find information on the data stored? </h5>
<p>
	Of course, we provide registered customers information on the data stored by us about them. Please direct your request to the ECS Support sending an iquiry at ecs-support@eacg.de.</p>
<p>
</p>
