<h1>
Consent to the Collection and Usage of Data<br/>
Consent to Receive Advertising Information
</h1>
<p class="version">
	Version 2.0 / as of 01/01/2018
</p>
<p>
	German Version: <%= link_to 'Datenerhebung', datenerhebung_path %>
</p>
<h2>
	General Consent
</h2>
<p>
EACG will not collect any other information than for the purpose of improving the product. Thus only behavioral tracking will happen, no personal data or information will be collected.
Pleas see our <%= link_to 'data privacy', dataprivacy_path %>
</p>

