<h1>
Einwilligung in die Datenerhebung und Datennutzung<br/>
Einwilligung in Erhalt von werblichen Informationen
</h1>
<p class="version">
	Version 2.0 / Stand 01.01.2018</b>
</p>
<p>
EACG sammelt keine Informationen über Kunden oder das Produkt als zum Zwecke der Produktverbesserung. Es werden keine Daten oder Informationen an Dritte weitergereicht.
Sehen Sie hierzu auch unsere <%= link_to 'Datenschutzerklärung', datenschutz_path %>
<p>
</p>
