<% title 'Datenschutzerklaerung' %>
<p>(gem&auml;&szlig; §§ 5, 13 TMG, 28, 30, BDSG)</p>
<p class="version">
	Version 2.0 / Stand 01.01.2018
</p>
</p>
<p>
Datenschutzverantwortlicher
</p>
<address>
	<strong>EACG GmbH</strong><br/>
	Taunustor 1<br/>
	D-60310 Frankfurt am Main<br/>
</address>
<br/>
rep&auml;sentiert durch die Gesch&auml;ftsf&uuml;hrer  Jan Thielscher und Dr. Stefan Pokorny<br/>
<br/>
<address>
<b>E-Mail:</b> ecs-support(at)eacg.de<br/>
<b>Handelregister Nummer:</b> HRB 84852<br/>
<b>Registergericht:</b> Frankfurt am Main<br/>
</address>

<p>
Weitere iNformationen finden sich in den zusätzlichen, rechtlichen Dokumenten.</p>

<h5>0. Definitionen</h5>
<p>
<li><b>EACG</b> - steht für EACG GmbH und bezeichnet den Eigentümer und Betreiber der ECS-Lösung</li>
<li><b>ECS</b> - steht für "EACG Code Scanner" und bezeichnet die SaaS-Lösung, welche die Scan-Ergebnisse aufnimmt, auswertet und auf welcher die Berichte und Verwaltungsaktivitäten rund um das Open Source Risk Management erfolgen.</li>
<li><b>ECS Scanner</li> - bezeichnet die Open Source Komponenten, welche EACG zur freien Nutzung bereitgestellt hat.</li>
<li><b>VersionEye</b> - ist ein Markenname der VersionEye GmbH, die ursprünglich die Lösung VersionEye entwickelt hat und welche jetzt durch EACG betrieben wird.
<li><b>Account</b> - Individueller, ggf. kostenpflichtiger Zugang zu ECS, bzw. VersionEye, der von einer oder mehreren, berechtigten Personen genutzt werden kann.
</p>
<h5>I. Allgemeines</h5>
<p>
EACG verpflichtet sich bei der Gestaltung der Plattform und des Serviceangebotes zur Einhaltung der geltenden und anwendbaren Rechtsvorschriften des deutschen und europäischen Datenschutzrechts. Wir bekennen uns zum Recht auf informationelle Selbstbestimmung und zu einem höchstmöglichen Standard der Datensicherheit sowie zur Wahrung von Betriebs- und Geschäftsgeheimnissen. Unsere Sicherungsmaßnahmen werden entsprechend der technologischen Entwicklung fortlaufend überprüft und verbessert, damit Ihre durch ECS verarbeiteten personenbezogenen Daten gegen zufällige oder vorsätzliche  Manipulationen, Verlust, Zerstörung oder gegen den Zugriff unberechtigter Personen geschützt sind (siehe §§ 9, 11 des Bundesdatenschutzgesetzes - BDSG). Auch unsere Mitarbeiter und Kooperationspartner oder sonstige Hilfspersonen werden von uns auf die Werte Geheimhaltung und Datenschutz verpflichtet. </p>

<h5>II. Was ist VersionEye, und wer ist für VersionEye verantwortlich?</h5>
<p>
VersionEye ist eine Software-as-a-Service-Plattform mit dem Fokus, Unternehmen bei der Gestaltung und management von Open Source zu helfen. VersionEye ist urheber- und markenrechtlich geschützt. Verantwortliche Stelle im Sinne der Datenschutzgesetze und Dienstanbieter im Sinne des Telemediengesetzes (TMG) ist die EACG GmbH, Taunustor 1, D-60310 Frankfurt am Main, Telefon +49 69 153 22 77 50, Email ecs-support@eacg.de. Die EACG  GmbH ist zudem Datenverarbeiter für die Plattform https://ecs-app.eacg.de, https://www.ve.eacg.de/ bzw. https://api.ve.eacg.de/.</p>

<h5>III. Welche persönlichen Daten unserer Kunden erheben und nutzen wir?</h5>
<p>
Wir erheben und nutzen Kundendaten nur für die Abwicklung von Verträgen sowie die Abwicklung der Zahlung, bei Rechnungskauf und sonstigen umsatzsteuerpflichtigen Tatbeständen auch die Daten für erforderliche Prüfungen seitens der Deutschen Steuerbehörde. </p>

<h5>IV. Welche Informationen werden im Einzelnen wie gesammelt und ggf. verarbeitet, gespeichert und/oder weitergegeben?</h5>
<p>
Die Informationen, die Sie uns zur Bestellung und Abwicklung und Kundenbetreuung geben, werden bei uns gespeichert und verarbeitet. Hierzu gehören insbesondere die Informationen, die Sie auf unserer Webseite eingeben (zum Beispiel bei der Registrierung in ECS bzw, VersionEye, oder bei dem Erwerb einer besonderen Lizenz). Es handelt sich hierbei um Daten, die für die Begründung, inhaltliche Ausgestaltung oder Änderung des Vertragsverhältnisses erforderlich sind (Bestandsdaten). Wir verwenden sie nur zur Abwicklung des mit Ihnen bestehenden Vertragsverhältnisses. Sie werden nur zur Korrespondenz mit Ihnen und nur für den Zweck verarbeitet, zu dem Sie uns die Daten zur Verfügung gestellt haben.
Zudem übermitteln Sie mit Hilfe unserer oder selbstentwickelter Code-Scanner Code-Strukturinformationen an ECS bzw VersionEye. Diese Informationen werden zu Ihrem Account hinzugefügt und sind nur in diesem einsehbar. Die einzelnen Komponenten einer jeden Übertragung können Sie wahlweise als private oder public kennzeichnen. Als "public" gekennzeichnete Komponenten finden Eingang in unsere Scan-Dienste und können mit Hilfe der ECS-Lösung überwacht und organisiert werden. Dennoch bleiben die Informationen lediglich den Benutzern in Ihrem Account zugänglich.
</p>

<h5>V. Wie werden die Lizenzinformationen gesammelt, und was geschieht mit den Informationen?</h5>
<p>
Die individuellen Lizenzinformationen können von Ihnen im Rahmen unserer AGB genutzt werden. Darüber hinaus können die von den Scannern übermittelten Komponenteninformationen in einen Datenpool mit anderen Daten zusammengeführt, gespeichert, verarbeitet und weitergegeben werden. Dies geschieht ausschließlich in anonymisierter Form gemäß § 30 BDSG. ASCAMSO hat an den auf diese Weise generierten und in einem Pool zusammengeführten Performancedaten das alleinige Urheber- und Nutzungsrecht. Die Weitergabe erfolgt ausschließlich zu geschäftlichen Zwecken von ECS und EACG sowie zu wissenschaftlichen Zwecken. Die Zurückverfolgung oder individuelle Zuordnung zu Ihren personenbezogenen Daten ist aufgrund der Anonymisierung ausgeschlossen.</p>

<h5>VI. Wie sicher ist die Kommunikation mit uns?</h5>
<p>
Zum Schutz Ihrer bei uns gespeicherten Daten erfolgt ein Zugriff auf Ihre bei uns gespeicherten Daten ausschließlich über eine verschlüsselte Verbindung, und zusätzlich sorgt eine Firewall für einen größtmöglichen Schutz Ihrer Daten. Auch der gesamte Registrierungsvorgang über unsere Homepage sowie die Nutzung von ECS erfolgt ausschließlich verschlüsselt über eine SSL/ TSL (Secure Sockets Layer/ Transport Layer Security) -Verbindung.

<h5>VII. Welche Daten werden bei einem Besuch unserer Webseite bzw. beim Zugriff aus dem Internet generell und temporär gespeichert? </h5>
<p>
Bei jedem Zugriff eines Nutzers auf unsere Webseiten werden temporär Daten über diesen Vorgang vorübergehend in einer Protokolldatei gespeichert und verarbeitet. Folgende Daten werden erfasst und bis zur automatisierten Löschung gespeichert:
   <li>IP-Adresse des anfragenden Rechners,</li>
   <li>Datum und Uhrzeit des Zugriffs, </li>
   <li>Name und URL der abgerufenen Datei, </li>
   <li>Meldung, ob der Abruf erfolgreich war, </li>
   <li>Erkennungsdaten des verwendeten Browser-und Betriebssystems,</li>
   <li>Webseite, von der aus der Zugriff erfolgt,</li>
   <li>Name Ihres Internet-Zugangs-Providers</li>
   <li>sowie einen Session-Tag, um das Sitzungsverhalten rekonstruieren zu können.</li>
Die Datenspeicherung ist zweckgebunden. Die Verarbeitung dieser Daten erfolgt zu dem Zweck, die Nutzung der Webseite zu ermöglichen (Verbindungsaufbau), und dient darüber hinaus der Systemsicherheit, der technischen Administration der Netzinfrastruktur sowie zur Optimierung des Internetangebotes. Die Daten werden lediglich für statistische Zwecke und zur Verbesserung des Angebots ausgewertet und anschließend gelöscht. Die Information über die IP-Adresse kann grundsätzlich nur bei Angriffen auf die Netzinfrastruktur von ECS bzw. VersionEye ausgewertet werden.
Über die in der Datenschutzerklärung genannten Fälle hinaus werden personenbezogene Daten nicht verarbeitet, es sei denn, Sie willigen ausdrücklich eine weitergehende Verarbeitung ein.
</p>
<h5>VIII. In welchen Fällen müssen bzw. dürfen wir Ihre Daten an Dritte weitergeben?</h5>
<p>
Auf gerichtliche Anordnung, bei einer rechtswirksamen Aufforderung durch eine Ermittlungsbehörde oder zu Beweiszwecken (z.B. bei Verstoß gegen unsere AGB) können die bei uns gespeicherten Daten und Informationen im Rahmen der geltenden Gesetze genutzt und gegenüber Dritten offengelegt werden, sofern dies erforderlich ist.
</p>
<h5>IX. Wo erhalte ich Auskunft über die gespeicherten Daten? </h5>
<p>
	Registrierten Kunden geben wir selbstverständlich Auskunft über die Daten, die bei uns über sie gespeichert sind. Dazu richten Sie bitte eine entsprechende Anfrage an den ECS-Support unter ecs-support@eacg.de.</p>
<p>
</p>
