<% title 'Impressum' %>

<div class="impressum-container" style = "text-align: center;">
  <%= image_tag 'worldmap.jpg', {:width => 650}  %>
</div>
<div class = "row">
  <div class="offset1 col-md-4" style="margin-top: 50px;">
    <address>
      <strong>EACG GmbH</strong><br/>
      <br/>
      Taunustor 1<br/>
      60310 Frankfurt am Main<br/>
      Germany<br/>
      <br/>
      E-Mail: ecs-support [at] eacg [dot] de<br />
      &nbsp;<br />
      <br />
      Amtsgericht: Frankfurt am Main<br />
      Handelsregister: Frankfurt am Main, HRB 84852<br />
      USt-IdNr.: DE 265.808.346<br />
      Geschaeftsfuehrer: Jan Thielscher, Dr. Stefan Pokorny<br />
    </address>
  </div>
  <div class="col-md-8" style="margin-top: 50px; text-align: right;">
    <%= image_tag "mafinex.jpg", :class => "img-rounded", :height => '300' %>
  </div>
</div>
