<% title 'Terms & Conditions'%>

<p class="subtitle">
	applies to the use of
	ve.eacg.de
</p>
<p class="version">
	Version <strong>2.0</strong> / Stand 01.01.2018
</p>
<h2>Terms & Conditions</h2>

<p><b>DO NOT USE ECS (WHICH IS A SOFTWARE AS A SERVICE), OR ANY ASSOCIATED MATERIALS AND DOCUMENTATION (COLLECTIVELY, "ECS") UNTIL YOU HAVE CAREFULLY READ THE FOLLOWING TERMS AND CONDITIONS CONTAINED IN THIS AGREEMENT (THE "T&C").  BY REGISTERING AN ACCOUNT ON THE PLATTFORM, YOU ("YOU" OR "LICENSEE") ACKNOWLEDGE THAT YOU HAVE CAREFULLY READ, UNDERSTOOD, AND AGREE TO BE BOUND BY THE TERMS OF THIS T&C.
      IF YOU DO NOT WISH TO BE BOUND BY THE TERMS OF THIS T&C, PLEASE DO NOT REGISTER OR USE THIS SERVICE OR SOFTWARE.<br>
      THIS T&C IS A LEGAL AGREEMENT CONCERNING ECS BETWEEN YOU, AS EITHER A COMPANY ACCORDING TO § 14 BGB, A SINGLE ENTITY OR A CORÜPORATE BODY OF PUBLIC LAW AND EACG GMBH ("EACG"). THIS T&C SUPERSEDES AND REPLACES ANY PRIOR PROPOSAL, REPRESENTATION, OR UNDERSTANDING YOU MAY HAVE HAD WITH EACG RELATING TO ECS.
      ECS - EVEN THE FREE VERSION - IS NOT FOR PRIVATE USE!
</b></p>
<h5>1.	Definitions</h5>
<p><b>ECS</b> -	bezeichnet die Open Source Risk Management SaaS-Lösung der EACG GmbH, Frankfurt am Main, für die diese AGB gelten. Im Folgenden auch "Plattform"
<b>Scanner</b> 	- bezeichnet ein Computerprogramm, welches unsere Benutzern einsetzen, um damit die Strukturinformationen aus ihrem Build-Prozess automatisiert an uns zu übertragen. Die Scanner unterliegen eigenen Nutzungsbedingungen (zumeist Open Source Lizenzen).
<b>Kundendaten</b> 	- bezeichnet alle Daten, die zur Vertragsabwicklung benötigt und dafür von dem Kunden zur Verfügung gestellt werden.
<b>Strukturdaten</b> 	- bezeichnet alle Daten, die durch einen Scanner erhoben und an die Plattform übertragen werden.
<b>Berichtsdaten</b>	- bezeichnet alle Informationen, die im Zuge der Verarbeitung der Strukturdaten in der Plattform generiert werden.
<b>Komponenten</b>	- bezeichnet vorgefertigte Bausteine, typischerweise Open Source, die zur Gestaltung der kundenindividuellen Lösung zum Einsatz kommen.
<b>Benutzer/Kunde</b>	- bezeichnet einen Geschäftspartner der EACG GmbH, der sich auf der ECS-Plattform registriert und damit diese Nutzungsbedingungen akzeptiert hat.
<b>Besucher</b>	- bezeichnet einen nicht identifizierten, potentiellen Benutzer der Plattform, der öffentlich zugängliche Inhalte der Plattform einsieht und/oder nutzt.
<b>Knowledgebase</b>	- bezeichnet eine Sammlung an Informationen, die den Besuchern und Benutzern der Plattform zur Verfügung gestellt werden.
<b>VersionEye</b> - Bezeichnet die Software VersionEye, erstellt durch die Firma VersionEye GmbH und betrieben von der EACG GmbH.
<h5>2.	Confidentiality and Data Privacy / Intellectual Property</h5>
<p>Das Vertragsverhältnis entsteht mit der Registrierung eines Benutzerkontos durch den Kunden auf der ECS Plattform. Ohne die Registrierung eines solchen Benutzerkontos ist die Nutzung der Plattform nicht möglich. Durch diese Registrierung wird ein Vertrag zur Nutzung des ECS-Services geschlossen und zwingend diese Bedingungen sowie die Datenschutzerklärung akzeptiert bzw. Gegenstand des Vertragsverhältnisses.
Mit dem Vertragsabschluss ist die Nutzung der Scanner-Software verbunden. Das API der ECS-Plattform bzw. von der VersionEye-Lösung sind offengelegt. Die Gestaltung der Scanner ist frei und kann durch jeden Kunden selbst erfolgen. Für bereits verfügbare Scanner können gesonderte Nutzungsbedingungen gelten. In der Plattform befindet sich eine Liste aktueller Scanner sowie der damit verbundenen Lizenzen.
Im Rahmen der Plattform hat der Kunde die Möglichkeit, zwischen unterschiedlichen Leistungsstufen der Plattform zu wählen. Mit jeder Auswahl kommt ein Vertragsverhältnis über den ausgewählten Leistungsumfang zustande. Es besteht kein Anspruch auf bestimmte Services, der Kunde erhält lediglich die Möglichkeit, sich für bestimmte Services anzumelden. Mit der Anmeldung durch den Kunden kommt der jeweilige Vertragsschluss zustande.
In seinem Benutzerkonto kann der Kunde jeweils seine Registrierdaten und die Daten der einzelnen von ihm gewählten Services einsehen sowie zusätzliche Leistungen abonnieren oder Leistungen abwählen.
Beispiel für zusätzliche Dienste sind: Erweiterung von einem Freien auf ein Unternehmens-Konto (Corporate) oder die Hinzunahme eines Extended-Support-Vertrages.
Details zu Preisen sind auf der Website einsehbar und werden bei Vertragsabschluss angegeben. Angegebene Preise sind Nettopreise, jeweils zuzüglich der gesetzlichen Umsatzsteuer in der jeweilig gültigen Höhe.</p>
<h5>3.	3.	Confidentiality and Data Privacy / Intellectual Property</h5>
<p>a)	Die Kundendaten, die spezifische Informationen des Kunden enthalten, sind geschützt und ein Zugriff durch uns auf dessen Inhalt nur möglich, soweit dies für die Bereitstellung der Services dieses Vertrages erforderlich ist.
	Wir haben eine eigenständige Datenschutzerklärung erstellt, deren Inhalte gemeinsam mit diesen Bedingungen die Einhaltung der Datenschutzbestimmungen innerhalb der Vertrags-beziehungen regeln. Diese Erklärung ist unter https://ecs.eacg.de/dataprivacy einsehbar.
b)	Nutzungsrechte:
	Der Kunde erhält an den Berichtsdaten ein einfaches, nicht ausschließliches Nutzungsrecht. Er darf die Messdaten ausschließlich im Rahmen dieser Bedingungen nutzen. Eine Veröffentlich-ung zu Präsentations- oder werblichen Zwecken bedarf einer gesonderten Genehmigung.
	Der Kunde gewährt EACG ein einfaches, nicht ausschließliches, Nutzungsrecht an seinen, an die Plattform übertragenen Strukturinformationen zum Zwecke der Weiterverarbeitung und Auswertung bezüglich des angestrebten Geschäftszweckes Open Source Risk Management. Wir dürfen diese Rechte gemäß dieser Erklärung auch im Falle von Änderungen der Rechtsform weiter nutzen.
c) 	Durch die Nutzung der Services erkennt der Kunde diese Bedingungen an und bestätigt, dass die Vertraulichkeits- und Datenschutzregelungen dieses Vertrages seinen Anforderungen genügen.
<h5>4.	Rights and obligations by user</h5>
a)	Der Kunde sichert zu, dass die Daten und Informationen, die durch den Scanner übertragen werden, nicht und in keiner Weise manipuliert sind, um ein verfälschtes Ergebnis der Auswertungen zu erhalten. Der Kunde haftet uns gegenüber dafür, dass weder durch den Kunden noch durch einen Dritten eine Manipulation der Daten und Informationen erfolgt. Der Kunde stellt uns insoweit von allen Ansprüchen frei. Der Nachweis, dass er eine Manipulation durch einen Dritten nicht zu vertreten hat, obliegt dem Kunden.
b)	Der Kunde darf die Plattform nur in einer Weise nutzen, die eine Schädigung ausschließt. Der Kunde versichert, dass er unsere Leistungen, die Plattform und die Scanner nur für Zwecke nutzt, die nicht gegen geltendes Recht und nicht gegen Rechte Dritter verstoßen. Insbesondere versichert der Kunde, dass er keine Informationen speichert und/oder Dritten zugänglich macht, die rechtswidrigen oder sittenwidrigen Inhalt haben, geltende Datenschutzbestimmungen verletzen oder Rechte Dritter beeinträchtigen.
c)	Der Kunde verpflichtet sich, Zugangsdaten (insbesondere Passwörter) gegenüber unbefugten Dritten geheim zu halten.
	Der Kunde verpflichtet sich, uns unverzüglich zu informieren, wenn der begründete Verdacht besteht, dass Dritte unberechtigt von Zugangsdaten Kenntnis erlangt haben oder der Zugang des Kunden von Dritten unberechtigt genutzt wird.
	Der Kunde ist auch bei unberechtigter Nutzung durch Dritte mit seinen Kundendaten verpflichtet, die vereinbarte Vergütung zu zahlen, es sei denn, der Kunde hat die unberechtigte Nutzung nicht zu vertreten. Der Nachweis, dass er die unberechtigte Nutzung nicht zu vertreten hat, obliegt dem Kunden.
	Der Kunde verpflichtet sich, uns den Schaden zu ersetzen, der durch die unbefugte Nutzung mit den Zugangsdaten des Kunden eintritt, es sei denn, der Kunde hat die unberechtigte Nutzung nicht zu vertreten. Der Nachweis, dass er die unberechtigte Nutzung nicht zu vertreten hat, obliegt dem Kunden.
d)	Der Kunde verpflichtet sich, uns unverzüglich von Störungen bei der Nutzung von ECS zu informieren. Wir stellen dazu eine eigene E-Mail-Adresse zur Verfügung, die auf der ECS-Website unter Kontakt gefunden werden kann.
e)	Der Kunde erhält die Möglichkeit, seine eigenen Strukturdaten oder Berichte für eigene Zwecke, z.B. Publikationen zu verwenden. Bei Veröffentlichungen ist der Kunde dabei aber verpflichtet, ECS als Quelle anzugeben.
f)	Der Kunde kann das durch die Plattform bereitgestellte ECS API zur Repräsentation seiner Strukturinformation einsetzen und die Ergebnisse online in seine Produkte einbinden, herunterladen, für eigene Zwecke drucken und beliebig vervielfältigen. Der Kunde darf jedoch nicht das API oder andere durch die Plattform bereitgestellte Dienste versuchen zu blockieren, bewusst zu belasten oder anderweitig als für den bereitgestellten Zweck einsetzen.
	Für die Übermittlung von Strukturinformationen an die Plattform darf der Kunde nur das von der Plattform bereitgestellte API einsetzen.</p>
<h5>6.	5.	Our service obligations</h5>
<p>Wir stellen die Plattform zur Verfügung. Wir gewähren dem Kunden den Online-Zugang zu seinem Open Source Risk Management. Dies umfasst derzeit folgende Funktionsbausteine:
i.	API zur Entgegennahme von Strukturinformationen (Scan)
ii.	Datenbank zur Sicherung der Strukturinformationen
iii.	Komponentenlisten und Lizenzinformationen
iv.	Informationen zu Open Source Komponenten
v.	Crawler zur Beschaffung zusätzlicher Informationen zu Open Source Komponenten aus den Stücklisten
vi.	Inferenz-Mechanismus zur Identifikation relevanter, rechtlichen Bestimmungen auf Basis der übermittelten Strukturinformationen und Projektziele.
vii.	Berichte zur Bestimmung von bekannten Schadstellen, verwendeten Lizenzen, Lebensfähigkeitsinformationen oder relevanter, zu erfüllender Bedingungen für die Nutzung (Checkliste)
viii.	Schnittstellen zu Aufgaben-Verwaltungen wie TFS von Microsoft oder Jira von Atlassian
ix.	Mechanismen zum Management und zur Pflege von Black- und White-Lists auf Unternehmens-, Projekt- und Modulebene.
x.	Rechtesystem zur sicheren Gestaltung eines Mehrbenutzerzugriffs.
xi.	API zur Bereitstellung einer rechtlich hinreichenden Dokumentation der eingesetzten Open Source-Komponenten
Die Plattform wird in englischer Sprache bereitgestellt. Die Plattform gibt Hinweise, welche Bedingungen aus den Lizenzen in den Strukturinformationen erkannten Lizenzen zu erfüllen sind, bzw. welche Bedingungen einem vom Kunden angegebenen Einsatzweck entgegenstehen. Die Plattform führt keine Rechtsberatung durch. Hierfür bieten wir explizit den Erweiterten Support durch unseren Legal Partner an.
Wir schulden nicht das einwandfreie Funktionieren des Zugangs zur Plattform. Wir schulden eine angemessene Betreuung, dass der Zugang nicht aus Gründen, die in unserem Verantwortungs-bereich liegen, nicht funktionsfähig ist.
Wir fungieren nicht als Provider. Den Internet-Zugang hat der Kunde in eigener Verantwortung bereit- und sicherzustellen. </p>
<h2>7.	Changes and Mdifications</h2>
<p>Wir behalten uns das Recht vor, eigene Software und die ECS-Website jederzeit und ohne Vorankündigung zu ändern, soweit dadurch nicht die Funktionalität der Plattform beeinträchtigt wird.
</p><h5>8.	Confidentiality</h5>
<p>Der Geheimhaltungsverpflichtung unterliegen alle dem Kunden zur Kenntnis gelangten Geschäfts- und Betriebsgeheimnisse sowie sonstige als vertraulich bezeichnete Informationen sowie das zum Zwecke der Durchführung des Vertrages anvertraute oder erlangte oder entwickelte Know-how, gleich in welchem Zustand bzw. auf welchem Datenträger sich diese befinden.
Der Kunde verpflichtet sich, diese Informationen streng geheim zu halten und keinem Dritten zugänglich zu machen. Zur Erfüllung dieser Geheimhaltungsverpflichtung hat der Kunde alle notwendigen und zumutbaren Maßnahmen zu ergreifen.
Die Geheimhaltungsverpflichtung gilt nicht für Informationen,
-	welche der Öffentlichkeit bereits bekannt oder allgemein zugänglich waren,
-	welche dem Kunden bereits bekannt waren oder die sie rechtmäßig durch Dritte erhielt,
-	deren Freigabe wir schriftlich zustimmen.
Im Streitfall ist der Kunde nachweispflichtig dafür, dass die Informationen nicht der Geheimhaltungsverpflichtung unterliegen.
Die Geheimhaltungspflicht gilt für die Dauer der jeweiligen Einzelverträge und darüber hinaus für einen Zeitraum von 2 Jahren nach Beendigung der Einzelverträge. </p>
<h5>9.	Liability</h5>
<p>ECS wertet die eingesetzten Lizenzen bezüglich des angegebenen Einsatzzweckes aus und gibt Hinweise auf ungeeignete Kombinationen sowie zu erfüllende Pflichten. Diese programmgestützte Auswertung kann jedoch lediglich eine Indikation für die Einhaltung bzw. Nicht-Einhaltung der jeweiligen Lizenzbedingungen liefern. Schon aufgrund der möglicherweise unvollständigen Lieferung der Strukturinformationen kann kein Anspruch auf Vollständigkeit erhoben werden. Im Einzelfall kann nur eine dedizierte, manuelle durch Spezialisten durchgeführte Prüfung ein klares Testat der Konformität erzeugen. ECS stellt keine Rechtsberatung dar und übernimmt somit auch keine Haftung für etwaige rechtliche Folgen aus dem Einsatz von Open Source für den Benutzer oder seine Kunden.
Für Schäden, die auf vorsätzlichen oder grob fahrlässigen Vertragsverletzungen sowie Arglist von uns, unseren gesetzlichen Vertretern oder Erfüllungsgehilfen beruhen, für Schäden aus der Verletzung einer von uns übernommenen Garantie und für Schäden aus der schuldhaften Verletzung von Leben, Körper oder Gesundheit haften wir nach den gesetzlichen Bestimmungen. In diesem Fall ist die Schadenersatzhaftung auf den vorhersehbaren, typischerweise eintretenden Schaden begrenzt, soweit kein Vorsatz gegeben ist.
Eine weitergehende Haftung ist ohne Rücksicht auf die Rechtsnatur des geltend gemachten Anspruchs ausgeschlossen, dies gilt insbesondere auch für deliktische Ansprüche oder Ansprüche auf Ersatz vergeblicher Aufwendungen statt der Leistung. Soweit die Haftung ausgeschlossen oder beschränkt ist, gilt dies auch für die persönliche Haftung unserer Angestellten, Arbeitnehmer, Mitarbeiter, Vertreter und Erfüllungsgehilfen.
Wir haften, außer in Fällen von Vorsatz und grober Fahrlässigkeit, nicht für Schäden, die nicht am Liefergegenstand oder dem bearbeiteten Gegenstand selbst entstanden sind. Insbesondere haften wir nicht für entgangenen Gewinn oder sonstige Vermögensschäden des Benutzers.
Alle Ansprüche des Benutzers verjähren nach 12 Monaten.</p>
<h5>10.	9.	Risks from the usage of Software and the Internet</h5>
<p>Scanner sind Software-Elemente, die auf Systemen des Benutzers ausgeführt werden. Die Scanner entwickelt der Kunde entweder selbst oder er nutzt bereits entwickelte, als Open Source bereitgestellte Scanner. Wir übernehmen keine Gewähr für die korrekte Funktionsweise der eingesetzten Open Source oder selbstentwickelten Scanner.
Die Kommunikation des/der Scanner mit dem ECS-Server-System macht die Freischaltung des Ports 443 in der Firewall erforderlich. Der Port 443 ist outbound typischerweise für https: zur Internet-Nutzung geöffnet. In gewissen Rechenzentrumszonen mag jedoch auch dies nicht erwünscht sein. Dieses Risiko muss der Benutzer selbst für sein System beurteilen. Wir übernehmen keine Gewähr bei einer Einschränkung der Firewall.</p>
<h5>10.	Termination / Changes of Subscription</h5>
<p>a) 	Kündigungen bedürfen der Schriftform.
i) Kündigung durch den Benutzer:
Benutzer können zum Ende einer Subskriptionsperiode unter Wahrung der Kündigungsfrist zum Ende der Periode kündigen oder die Subskription herabsetzen. Die derzeit gültigen Modelle und Kündigungsfristen sind:
"	Free / keine
"	Professional / monatlich, 2 Wochen zum Monatsende
"	Corporate / quartalsweise, 4 Wochen zum Quartalsende
"	Enterprise (erhält eine individuelle Vereinbarung)
ii) Kündigung durch uns:
Wir sind zur Kündigung mit einer Kündigungsfrist von 2 Monaten zum Ende eines Kalendermonats berechtigt, wenn der Benutzer wiederholt mit fälligen Forderungen auf seinem Benutzerkonto in Verzug gerät. Voraussetzung für die Kündigung ist in diesem Fall, dass wir den Benutzer zuvor mindestens einmal mit einer Zahlungsfrist von einer Woche zur Zahlung vergeblich aufgefordert haben. Die Zahlungsaufforderung kann per Brief, Telefax oder E-Mail erfolgen, eine besondere Form ist nicht erforderlich.
b) 	Das Recht zur außerordentlichen Kündigung aus wichtigem Grund bleibt unberührt. Ein wichtiger Grund zur Kündigung durch uns liegt insbesondere vor, wenn
i) die Nutzung durch den Kunden den Betrieb oder die Sicherheit der Plattform gefährdet,
ii) der Benutzer die Leistungen von ECS, die Plattform oder die Scanner für Zwecke nutzt, die gegen geltendes Recht und/oder gegen Rechte Dritter verstoßen.</p>
<h5>11.	Miscellaneous concerning our Service "Knowledgebase"</h5>
<p>a) 	Wir stellen allen registrierten ECS-Benutzern auf der Plattform unter der Bezeichnung "Knowlegdebase" Hintergrundinformationen zu Themen rund um Open Source im Allgemeinen sowie Bedienungshinweise zur Nutzung der ECS-Dienste und Hinweise sowie Best Practices zu Methodik und Vorgehensweisen zum Umgang mit Lizenzproblematik, dem Umgang mit bekannten Schadstellen oder Behandlung von kritischen Komponenten zur Verfügung.
	Diese Informationen und Hinweise können in der jeweils auf der Plattform vorhandenen Fassung von jedem Besucher und Benutzer der Plattform aufgerufen und gelesen werden. Wir stehen nicht dafür ein, dass diese Informationen und Hinweise jederzeit zur Verfügung stehen.
b)	Die Informationen werden von uns nach bestem Wissen erstellt und in angemessenem Umfang aktualisiert. Wir stehen nicht dafür ein, dass diese Informationen stets dem neuesten Stand entsprechen.
	Hinweise zu Bedienung und zu Methodik und Vorgehensweise stellen eine Hilfe für die Benutzer dar. Wir stehen nicht dafür ein, dass diese Hinweise zu einem bestimmten Ergebnis führen.
	Eine Haftung für inhaltliche Richtigkeit wird nur für Fälle des vorsätzlichen oder grob fahrlässigen Handelns übernommen.
c)	Das Urheberrecht an sämtlichen auf der Plattform veröffentlichten Inhalte gleich welcher Art oder Verkörperung, gebührt alleine uns, oder, sofern entsprechend ausgewiesen, dem jeweiligen Autor oder Hersteller.</p>
<h5>12.	Miscellaneous concerning our Service "Standard Suppor</h5>
<p>a)	Wir bieten Kunden ab der Professional Version auch die interaktive Unterstützung bei der Nutzung der ECS-Plattform an.
Support bezeichnet dabei die Bearbeitung und Lösung von Anfragen zur Nutzung der über die Plattform, per E-Mail oder Telefon. Wir bieten dem Kunden während der Supportz-Zeiten die Möglichkeit, eine Support-Anfrage zu stellen. Die Bearbeitung erfolgt durch uns innerhalb der Reaktionszeit.
Support beinhaltet nicht die Beratung, Schulung oder Training in Bezug auf den Umgang mit rechtlichen oder architekturellen Fragestellungen zu Software-Entwicklung oder -Design. Diese Leistungen können gesondert über einen zusätzlichen Beratungsvertrag (s. Erweiterter Support) erworben werden.
b)	Je nach Vereinbarung des Supportvertrages stellen wir eine Support-Telefonnummer oder den Zugang zu einem Online-Supportsystem auf der Plattform zur Verfügung.
Erfolgt der Support über eine Support-Telefonnummer, kann ein Customer Service Agent zu den vereinbarten Support-Zeiten über diese Nummer erreicht werden. Soweit dies nicht möglich ist, wenn etwa alle Agenten bereits mit Anfragen beschäftigt sind, kann eine Nachricht auf einer Mailbox hinterlassen werden. Nachrichten auf der Mailbox werden nach Freiwerden eines Agenten umgehend in der Reihenfolge des Eingangs abgearbeitet.
Erfolgt der Support über das Online-Support-System, erhält der Kunde mit Registrierung eigene Zugangsdaten zum Supports-System und kann dort direkt Support-Anfragen eintragen.
c)	Als Reaktionszeit werden 3 Stunden festgelegt. Reaktionszeit ist die Zeit zwischen dem Eingang der Support-Anfrage und dem Beginn der Bearbeitung durch uns. Im Allgemeinen garantieren wir während der Service-Zeiten (Mo.-Fr. 0900-1800 CET, mit Ausnahme gesetzliche Feiertage in Deutschland)
Soweit Support-Mitarbeiter nicht direkt telefonisch erreicht werden, beträgt die Reaktionszeit 4 Stunden. Arbeitsfreie Tage (Feiertage und Sonntage, deutscher Kalender) werden in diese Zeit nicht eingerechnet. Fällt der Eingang der Supportanfrage auf eine Zeit außerhalb der Supportzeit, beginnt die Reaktionszeit erst mit Beginn der nächsten Supportzeit.
d)	Es obliegt dem Kunden, bei einer Supportanfrage alle maßgeblichen und notwendigen Informationen zu erteilen, die für eine Beratung und Unterstützung bei der Nutzung der Plattform in Form eines Supports erforderlich sind.
e)	Wir haften nicht für einen bestimmten Erfolg des Supports. Die Haftung für Support richtet sich im Übrigen nach den allgemeinen Regelungen dieser AGB.</p>
<h5>13.	Miscellaneous concerning our Service "Extended Support" </h5>
<p>a)	Kunden der Corporate und Enterprise-Lizenzen eröffnen wir die Möglichkeit, vergünstigt spezialisierte Beratung zu vergünstigten Sätzen auf Stundenbasis einzukaufen. Dies umfasst Architekturberatung, erbracht durch die Berater der EACG GmbH (s. https://www.eacg.de) sowie Rechtsberatung, erbracht durch die Anwälte von CMS Hasche Siegle (s. https://cms.law).
b)	Die Dauer, Kündigungsfristen, Vergütung und Leistungsumfang (bspw. Reaktionszeiten) werden in den jeweils individuellen Vereinbarungen geregelt. Die Bedingungen des Erweiterten Supports ergänzen diese Bedingungen.
<h5>	14.	Governing Law / Jurisdiction</h5>
Für diese Bedingungen und sämtliche Rechtsbeziehungen zwischen EACG GmbH und dem Benutzer/Kunden/Besucher gilt das Recht der Bundesrepublik Deutschland.
<p>Für die Nutzung sowie die daraus resultierenden Vergütungsansprüche gelten nur diese Bedingungen, anderslautende Vereinbarungen finden keine Anwendung.
Ausschließlicher Gerichtsstand ist Frankfurt am Main.</p>
